<!-- include "meta-head.html" -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>3 Arena</title>

    <link rel="stylesheet" href="{{siteUrl}}/static_resources/css/main.css">

    <script>
        // Picture element HTML5 shiv
        document.createElement("picture");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js"
        integrity="sha256-iT+n/otuaeKCgxnASny7bxKeqCDbaV1M7VdX1ZRQtqg=" crossorigin="anonymous" async></script>
</head>


<body>
    <main class="main-container">

        {% block content %}
        {# temeplate here #}

        <!-- include "partial-header.html" -->
        {# <section class="section section--on-top tabs js-tabs whats-on tabbed-content" id="whatsOn">
            <div class="wrapper wrapper--even whats-on__wrapper stagger-children">
                <div class="wrapper__col stagger-child">
                    <h2 class="h4 whats-on__heading">Shows</h2>
                </div>

                <div class="wrapper__col"></div>

                <div class="wrapper__col stagger-child">
                    <div class="tabs__nav">
                        <ul class="tabs__list tab-navigation">
                            <li class="tabs__item" data-tab-target="just-announced">
                                <button class="tabs__link tabs__link--active js-tabs__link js-tabs__link--active">
                                    Just Announced
                                </button>
                            </li>

                            <li class="tabs__item" data-tab-target="upcoming">
                                <button class="tabs__link js-tabs__link">
                                    Upcoming
                                </button>
                            </li>

                            <li class="tabs__item" data-tab-target="featured">
                                <button class="tabs__link js-tabs__link">
                                    Featured
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="wrapper wrapper--wide whats-on__wrapper tabs">
                <div class="tabs__panel" data-tab-id="just-announced">
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/paul-heaton-and-jacqui-abbott" class="card-link__image-link">
                                <picture>
                                    <!-- 400 x 400 -->
                                    <img src="{{siteUrl}}/static_resources/img/listing/abba-orchestral-2021-300x300.jpg"
                                        alt="Paul Heaton and Jacqui Abbott " class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/paul-heaton-and-jacqui-abbott">Paul
                                        Heaton and
                                        Jacqui Abbott </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-01-16">Sun 16 Jan 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/paul-heaton-and-jacqui-abbott"
                                            class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/paul-heaton-and-jacqui-abbott" target="_blank" rel="noreferrer"
                                            class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/james-taylor-his-all-star-band" class="card-link__image-link">
                                <picture>
                                    <!-- 400 x 400 -->
                                    <img src="{{siteUrl}}\static_resources\img\listing\JT_300x300.jpg"
                                        alt="James Taylor &amp; his All-Star Band" class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link"
                                        href="/events/james-taylor-his-all-star-band">James Taylor
                                        &amp; his All-Star Band</a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-01-25">Tue 25 Jan 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/james-taylor-his-all-star-band"
                                            class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/james-taylor-his-all-star-band" target="_blank"
                                            rel="noreferrer" class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/simply-red" class="card-link__image-link">
                                <picture>
                                    <!-- 400 x 400 -->
                                    <img src="{{siteUrl}}\static_resources\img\listing\Simply-Red-2020-300x300.jpg"
                                        alt="Simply Red " class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/simply-red">Simply Red </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-02-02">Wed 02 Feb 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/simply-red" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/simply-red" target="_blank" rel="noreferrer"
                                            class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 450ms;">
                        <div class="card-link__image">
                            <a href="/events/abba-orchestral" class="card-link__image-link">
                                <picture>
                                    <!-- 400 x 400 -->
                                    <img src="{{siteUrl}}\static_resources\img/listing/abba-orchestral-2021-300x300.jpg"
                                        alt="ABBA Orchestral " class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/abba-orchestral">ABBA Orchestral
                                    </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-02-12">Sat 12 Feb 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/abba-orchestral" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/abba-orchestral" target="_blank" rel="noreferrer"
                                            class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 600ms;">
                        <div class="card-link__image">
                            <a href="/events/stormzy" class="card-link__image-link">
                                <picture>
                                    <!-- 400 x 400 -->
                                    <img src="{{siteUrl}}/static_resources/img/listing/stormzy-2020-300x300.jpg"
                                        alt="Stormzy " class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/stormzy">Stormzy </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-04-01">Fri 01 Apr 2022</time> &amp;
                                    <time datetime="2022-04-02">Sat 02 Apr 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/stormzy" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <span class="inline-ctas__cta text-white">
                                            <i class="icon-sold-out inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Sold Out</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/the-war-on-drugs" class="card-link__image-link">
                                <picture>
                                    <!-- 400 x 400 -->
                                    <img src="{{siteUrl}}\static_resources\img/listing/TWOD_300x300.jpg"
                                        alt="The War on Drugs " class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/the-war-on-drugs">The War on Drugs
                                    </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    Dates to be announced
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">
                                    <li class="card-link__item">
                                        <span class="card-link__item-title">On Sale</span>
                                        <span class="card-link__item-description"><time datetime="2022-04-02T11:30">10am
                                                Sat 02 Apr 2022</time></span>
                                    </li>

                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/the-war-on-drugs" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="#" class="inline-ctas__cta text-white" download="">
                                            <i class="icon-calendar inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Remind me</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="tabs__panel" data-tab-id="upcoming">
                    <article class="card-link" style="transition-delay: 450ms;">
                        <div class="card-link__image">
                            <a href="/events/abba-orchestral" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/abba-orchestral-2021-300x300.jpg" alt="ABBA Orchestral "
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/abba-orchestral">ABBA Orchestral
                                    </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-02-12">Sat 12 Feb 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/abba-orchestral" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/abba-orchestral" target="_blank" rel="noreferrer"
                                            class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 600ms;">
                        <div class="card-link__image">
                            <a href="/events/stormzy" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/stormzy-2020-300x300.jpg" alt="Stormzy "
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/stormzy">Stormzy </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-04-01">Fri 01 Apr 2022</time> &amp;
                                    <time datetime="2022-04-02">Sat 02 Apr 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/stormzy" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <span class="inline-ctas__cta text-white">
                                            <i class="icon-sold-out inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Sold Out</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/the-war-on-drugs" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/TWOD_300x300.jpg" alt="The War on Drugs "
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/the-war-on-drugs">The War on Drugs
                                    </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    Dates to be announced
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">
                                    <li class="card-link__item">
                                        <span class="card-link__item-title">On Sale</span>
                                        <span class="card-link__item-description"><time datetime="2022-04-02T11:30">10am
                                                Sat 02 Apr 2022</time></span>
                                    </li>

                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/the-war-on-drugs" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="#" class="inline-ctas__cta text-white" download="">
                                            <i class="icon-calendar inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Remind me</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/paul-heaton-and-jacqui-abbott" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/paul-heaton-300x300.png" alt="Paul Heaton and Jacqui Abbott "
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/paul-heaton-and-jacqui-abbott">Paul
                                        Heaton and
                                        Jacqui Abbott </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-01-16">Sun 16 Jan 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/paul-heaton-and-jacqui-abbott"
                                            class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/paul-heaton-and-jacqui-abbott" target="_blank" rel="noreferrer"
                                            class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/james-taylor-his-all-star-band" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/JT_300x300.jpg" alt="James Taylor &amp; his All-Star Band"
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link"
                                        href="/events/james-taylor-his-all-star-band">James Taylor
                                        &amp; his All-Star Band</a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-01-25">Tue 25 Jan 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/james-taylor-his-all-star-band"
                                            class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/james-taylor-his-all-star-band" target="_blank"
                                            rel="noreferrer" class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/simply-red" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/Simply-Red-2020-300x300.jpg" alt="Simply Red "
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/simply-red">Simply Red </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-02-02">Wed 02 Feb 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/simply-red" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/simply-red" target="_blank" rel="noreferrer"
                                            class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="tabs__panel" data-tab-id="featured">
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/the-war-on-drugs" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/TWOD_300x300.jpg" alt="The War on Drugs "
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/the-war-on-drugs">The War on Drugs
                                    </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    Dates to be announced
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">
                                    <li class="card-link__item">
                                        <span class="card-link__item-title">On Sale</span>
                                        <span class="card-link__item-description"><time datetime="2022-04-02T11:30">10am
                                                Sat 02 Apr 2022</time></span>
                                    </li>

                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/the-war-on-drugs" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="#" class="inline-ctas__cta text-white" download="">
                                            <i class="icon-calendar inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Remind me</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/paul-heaton-and-jacqui-abbott" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/paul-heaton-300x300.png" alt="Paul Heaton and Jacqui Abbott "
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/paul-heaton-and-jacqui-abbott">Paul
                                        Heaton and
                                        Jacqui Abbott </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-01-16">Sun 16 Jan 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/paul-heaton-and-jacqui-abbott"
                                            class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/paul-heaton-and-jacqui-abbott" target="_blank" rel="noreferrer"
                                            class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/james-taylor-his-all-star-band" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/JT_300x300.jpg" alt="James Taylor &amp; his All-Star Band"
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link"
                                        href="/events/james-taylor-his-all-star-band">James Taylor
                                        &amp; his All-Star Band</a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-01-25">Tue 25 Jan 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/james-taylor-his-all-star-band"
                                            class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/james-taylor-his-all-star-band" target="_blank"
                                            rel="noreferrer" class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 0s;">
                        <div class="card-link__image">
                            <a href="/events/simply-red" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/Simply-Red-2020-300x300.jpg" alt="Simply Red "
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/simply-red">Simply Red </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-02-02">Wed 02 Feb 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/simply-red" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/simply-red" target="_blank" rel="noreferrer"
                                            class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 450ms;">
                        <div class="card-link__image">
                            <a href="/events/abba-orchestral" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/abba-orchestral-2021-300x300.jpg" alt="ABBA Orchestral "
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/abba-orchestral">ABBA Orchestral
                                    </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-02-12">Sat 12 Feb 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/abba-orchestral" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <a href="/events/abba-orchestral" target="_blank" rel="noreferrer"
                                            class="inline-ctas__cta text-white">
                                            <i class="icon-ticket inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Buy Now</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card-link" style="transition-delay: 600ms;">
                        <div class="card-link__image">
                            <a href="/events/stormzy" class="card-link__image-link">
                                <picture>
                                    <img src="imgisting/stormzy-2020-300x300.jpg" alt="Stormzy "
                                        class="card-link__image-source">
                                </picture>
                            </a>
                        </div>

                        <div class="card-link__content">
                            <div class="card-link__titles">
                                <h3 class="h4 card-link__heading">
                                    <a class="card-link__heading-link" href="/events/stormzy">Stormzy </a>
                                </h3>
                                <p class="card-link__sub-heading">
                                    <time datetime="2022-04-01">Fri 01 Apr 2022</time> &amp;
                                    <time datetime="2022-04-02">Sat 02 Apr 2022</time>
                                </p>
                            </div>

                            <div class="card-link__info">
                                <ul class="card-link__list">


                                </ul>

                                <div class="card-link__ctas">
                                    <div class="inline-ctas">
                                        <a href="/events/stormzy" class="inline-ctas__cta text-pink">
                                            <span class="inline-ctas__text">Learn more</span>
                                            <i class="icon-right-arrow inline-ctas__arrow"></i>
                                        </a>

                                        <span class="inline-ctas__cta text-white">
                                            <i class="icon-sold-out inline-ctas__icon"></i>
                                            <span class="inline-ctas__text">Sold Out</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="whats-on__footer">
                <a href="#" class="button">View All Shows</a>
            </div>
        </section> #}

        {% endblock %}


    </main>

    <!-- All JS actions that are site wide should be in this file -->
    <script src="{{siteUrl}}/static_resources/js/vendors.js" id="vendorsScript"></script>
    <script src="{{siteUrl}}/static_resources/js/main.js" id="mainScript"></script>


    <script src="{{siteUrl}}/static_resources/js/homepage.js"></script>
</body>

</html>